RightRow2Sub {
    height: 75%;
}

#shop_actions {
    width: 18%;
    padding: 0 1;
    border: heavy rgb(83, 83, 83);
    align: center middle;
}

#shop_actions PreparationButton {
    margin-bottom: 1;
}

ShopGoods {
    width: 82%;
    height: 100%;
    padding: 1 1;
}

ShopGoods HorizontalGroup {
    height: auto;
    margin-bottom: 1;
}

ShopPanel {
    width: 90%;
    height: 100%;
}

GoodsRow, PackRow, VoucherRow {
    height: auto;
    align: center middle;
    margin: 0 1;
}

ShopGoods FocusableStatic {
    width: 20;
    min-width: 12;
    height: 4;
    text-align: center;
    border: rgb(83, 83, 83);
    margin: 0 1;
}
